<html style="zoom: 90%">
<head>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <title></title>
</head>
<body>

<br>
<button class="button" onclick="window.location.href = 'http://fefu.ml:1613/{{ page }}?select_all'"
        style="margin-top: 1%; margin-left: 0;">Получить все записи
</button>

<form action="/{{ page }}" method="GET" style="margin-top: 1%;">
    <input type="number" min="1" placeholder="Поиск: ID" name="search_id" required>
    <input type="submit" class="button" value="Искать">
</form>

<form action="/{{ page }}" method="GET">
    <input placeholder="Поиск: Имя" name="search_name" required>
    <input type="submit" class="button" value="Искать">
</form>

<form action="/{{ page }}" method="GET">
    <input type="number" min="1" placeholder="Добавление: ID" name="insert_id" required>
    <input placeholder="Добавление: Имя" name="insert_name" required>
    <input type="submit" class="button" value="Добавить">
</form>

<form action="/{{ page }}" method="GET">
    <input type="number" min="1" placeholder="Удаление: ID" name="delete_id" required>
    <input type="submit" class="button" value="Удалить">
</form>

</body>
</html>